{erl_opts, [debug_info]}.
{deps, [
    {meck, ".*", {git, "git@github.com:eproxus/meck.git"}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git"}}
]}.

{relx, [{release, {perfchk, "0.1.0"}, [perfchk, jiffy]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.
