{application, perfchk,
 [{description, "Test your site performance with SauceLabs"},
  {vsn, "0.1.0"},
  {registered, []},
  {mod, { perfchk_app, []}},
  {applications,
   [kernel,
    stdlib
   ]},
  {env,[
      {sauce_user, ""},
      {sauce_key, ""},
      {url, ""},
      {test_name, ""},
      {concurrent_tests, 1}
  ]},
  {modules, []},

  {maintainers, []},
  {licenses, []},
  {links, []}
 ]}.
